# zmodule asciiship
# zmodule eriner

zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule environment
zmodule input

zmodule archive
zmodule asdf
zmodule exa
zmodule fzf
zmodule git
# zmodule pvenv
# zmodule ruby
zmodule ssh
zmodule termtitle
zmodule utility

# zmodule homebrew
# zmodule pacman

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search
zmodule romkatv/powerlevel10k --use degit
# zmodule skywind3000/z.lua --cmd 'eval "$(lua {}/z.lua --init zsh enhanced once)"'
zmodule skywind3000/z.lua --on-pull 'lua z.lua --init zsh enhanced once >! init.zsh'
